*{font-family: sans-serif;}

.inner-addon{
	position: relative;
	display: inline-block;
	height: 30px;
	width: 150px;
}
.inner-addon .icon{
	position: absolute;
	right: 0;
}
.inner-addon .icon button{
	width: 100%;
	height: 30px;
	cursor: pointer;
}
#calendar{
	border: 1px solid #bdbdbd;
	padding-left: 10px;
	border-radius: 5px;
	width: 100%;
	height: 100%;
}
#calendar:focus{
	border: 1px solid #4AC3F3;
	-moz-box-shadow: 0px 0px 10px -5px #4AC3F3; 
	-webkit-box-shadow: 0px 0px 10px -5px #4AC3F3; 
	box-shadow: 0px 0px 10px -5px  #4AC3F3; 
	outline: none;
}

.tabla{
	padding: 15px;
	width: 100%;
	border-spacing: 5px;
	text-align: center;
}
.tabla td{
	padding: 15px;
	border: 1px dotted #000;
	border-color: #000 !important;
	background-color: #fff;
}
.tabla td{
	width: 50px;
	padding: 10px;
}
.tabla th {
	text-align: center;
	border: none;
	padding: 10px;
}
.tabla th i:hover{
	color: #A91F1F;
	cursor: pointer;
}
#dias td{
	border: 1px solid #bdbdbd;
	color: #000;
	text-transform: uppercase;
	font-weight: bold;
}
.activo{
	background-color: #E6E6E6 !important;
}
.hoy{
	background-color: #C3D7E1 !important;
}
.festivo{
	color: #A91F1F;
	background-color: #F9B4B4 !important;
}
.calendario td:hover{
	background: #E6E6E6 ;
	cursor: pointer;
	font-weight: bold;
}
.calendario td.vacio:hover{
	cursor: default;
}
.calendario td.vacio{
	border: 0px !important;
	background-color: transparent;
}

.pull-left{
	float: left;
}
.pull-right{
	float: right;
}
.fa-1x{
	font-size: 14pt;
}

/*Ancho de 600 o menos px*/

@media (max-width: 600px) {
  .box {width: 380px;}
}

/* Estilo de la ventana Modal */
.modalmask {
    position: fixed;
    font-family: Arial, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalmask:target {
    opacity:1;
    pointer-events: auto;
}

.modalbox{
    width: 500px;
    position: relative;
    padding: 5px 20px 13px 20px;
    background: #fff;
    border-radius: 10px;
    -webkit-transition: all 500ms ease-in;
    -moz-transition: all 500ms ease-in;
    transition: all 500ms ease-in;
     
}

.movedown {
    margin: 0 auto;
}
.modalmask:target .movedown{       
    margin:10% auto;
}

.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: 5px;
    text-align: center;
    top: 5px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
 
}
 
.close:hover {
    background: #FAAC58;
    color:#222;
}